.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  mat-form-field {
    width: 100%;

    mat-input {
      width: 100%;
    }

    button {
      width: 100%; /* Make the button fill the width of the mat-form-field */
      margin-top: 10px; /* Adjust spacing as needed */
    }
  }
}
