<!-- <div class="grid">

    <a [routerLink]="['/trackers']" class="card border card0 a">
        <h2>VIEW PROJECT</h2>
        <img src="https://images.pexels.com/photos/1238864/pexels-photo-1238864.jpeg?auto=compress&cs=tinysrgb&w=1600"
            alt="">
    </a>

    <a [routerLink]="['/trackers']" class="card border card0 b">
        <h2>VIEW PROJECT</h2>
        <img src="https://images.pexels.com/photos/1238864/pexels-photo-1238864.jpeg?auto=compress&cs=tinysrgb&w=1600"
            alt="">
    </a>

    <a [routerLink]="['/trackers']" class="card border card0 c">
        <h2>VIEW PROJECT</h2>
        <img src="https://images.pexels.com/photos/1238864/pexels-photo-1238864.jpeg?auto=compress&cs=tinysrgb&w=1600"
            alt="">
    </a>

    <a href="" class="b">
        <img src="https://images.pexels.com/photos/2219024/pexels-photo-2219024.jpeg?auto=compress&cs=tinysrgb&w=1600"
            alt="">
    </a>

    <a href="" class="c">
        <img src="https://images.pexels.com/photos/2323080/pexels-photo-2323080.jpeg?auto=compress&cs=tinysrgb&w=1600"
            alt="">
    </a>

</div> -->
