<header>
  <nav>
    <ng-container *ngIf="accountService.isAuthenticated()">
      <a [routerLink]="['']"><i class="fa-solid fa-bars"></i>Home</a>
      <a [routerLink]="['/trackers']">Trackers</a>
      <a [routerLink]="['']" (click)="logout()">Log out</a>
    </ng-container>

    <ng-container *ngIf="!accountService.isAuthenticated()">
      <ul>
        <li><a [routerLink]="['']">Home</a></li>
        <li><a [routerLink]="['/users/signup']">Register</a></li>
        <li><a [routerLink]="['/users/login']">Log in</a></li>
      </ul>
    </ng-container>
  </nav>

</header>
