@import "src/app/_styles/variables.scss";
@import "src/app/_styles/mixins.scss";

.navbar {
  background-color: map-get($map: $themeColor, $key: primary);
  width: map-get($map: $navbar, $key: width);
  height: 100vh;
  position: fixed;

  .navbar-nav {
    @include resetPaddingAndMargin;
    @include resetListStyle;
    @include flexCenterColumn;
    height: 100%;

    .nav-item {
      width: 100%;
      &:last-child {
        margin-top: auto;
      }

      .nav-link {
        display: flex;
        align-items: center;
        height: 5rem;
        text-decoration: none;
      }
    }
  }
}
