<nav class="navbar">
  <ul class="navbar-nav">
    <ng-container *ngIf="accountService.isAuthenticated()">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['']"><span>Home</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/trackers']"
          ><span>Trackers</span></a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['']" (click)="logout()"
          ><span>Log out</span></a
        >
      </li>
    </ng-container>

    <ng-container *ngIf="!accountService.isAuthenticated()">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['']"><span>Home</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/users/signup']"
          ><span>Register</span></a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/users/login']"
          ><span>Log in</span></a
        >
      </li>
    </ng-container>
  </ul>
</nav>
