$screenWidth: (
  "maxMobile": 480px,
  "minTablet": 481px,
  "maxTablet": 768px,
  "minSmallDesktop": 769px,
  "maxSmallDesktop": 1024px,
  "minDesktop": 1025px,
);

$themeColor: (
  "primary": #d9c3a9,
  "secondary": #f29d52,
  "tertiary": #d9763d,
  "quaternary": #a64d2d,
  "quinary": #402015,
  "success": lightblue,
  "info": teal,
  "warning": yellow,
  "danger": red,
);

$font: (
  "body": "Roboto, sans-serif",
  "heading": "Anek Telugu, sans-serif",
);

$fontSize: (
  "h1": 94px,
  "h2": 50px,
  "h3": 40px,
  "h4": 32px,
  "h5": 28px,
  "h6": 22px,
  "paragraph": 18px,
  "subtitle": 17px,
  "secondaryText": 14px,
  "button": 16px,
);

$fontColor: (
  "dark": #000000,
  "light": #ffffff,
  "gray": #adbdcc,
  "blue-1": #00d4ff,
  "purple-1": #6922f7,
  "purple-2": #7000ff,
  "background-white": #fff,
  "background-light": #f7f9fc,
  "buttonHover": #6d7a88,
);

$lineHeight: (
  "h1": 108px,
  "h2": 75px,
  "paragraph": 26px,
  "subtitle": 26px,
  "secondaryText": 18px,
);

$spacing: (
  "small": 8px,
  "medium": 16px,
  "large": 32px,
  "extra_large": 64px,
);

$navbar: (
  "width": 5rem,
  "backgroundColor":
    map-get(
      $map: $themeColor,
      $key: secondary,
    ),
  "buttonColor":
    map-get(
      $map: $themeColor,
      $key: tertiary,
    ),
  "textColor":
    map-get(
      $map: $fontColor,
      $key: "dark",
    ),
  "textColorHovered":
    map-get(
      $map: $fontColor,
      $key: "light",
    ),
);

$padding: (
  "small": 0.5rem,
  "medium": 1rem,
  "large": 1.5rem,
);

$margin: (
  "small": 0.5rem,
  "medium": 1rem,
  "large": 1.5rem,
);
