@import "src/app/_styles/variables.scss";
@import "src/app/_styles/mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

body {
  background-color: map-get($map: $themeColor, $key: primary);
  font-family: map-get($map: $font, $key: body);
  //width: 1200px;
  //margin: 0 auto;
  //   width: 100%;
  //   margin: 0;
  //   box-sizing: border-box;
  //   padding: map-get($map: $spacing, $key: small) 0 0 0;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   color: map-get($map: $fontColor, $key: "gray");
//   font-family: map-get($map: $font, $key: heading);
//   margin: 0;
//   width: 100%;
// }

// h1 {
//   font-size: map-get($map: $fontSize, $key: h1);
//   font-weight: 600;
//   letter-spacing: -1px;
// }

// h2 {
//   font-size: map-get($map: $fontSize, $key: h2);
//   font-weight: 500;
//   letter-spacing: -0.25px;
// }

// h3 {
//   font-size: map-get($map: $fontSize, $key: h3);
//   font-weight: 500;
// }

// h4 {
//   font-size: map-get($map: $fontSize, $key: h4);
//   font-weight: 500;
//   letter-spacing: 0.25px;
// }

// h5 {
//   font-size: map-get($map: $fontSize, $key: h5);
//   font-weight: 500;
// }

// h6 {
//   font-size: map-get($map: $fontSize, $key: h6);
//   font-weight: 500;
// }

// p {
//   line-height: map-get($map: $lineHeight, $key: paragraph);
//   font-size: map-get($map: $fontSize, $key: paragraph);
//   font-weight: 400;
//   margin: map-get($map: $spacing, $key: medium) 0;
// }

// a {
//   text-decoration: none;
//   color: map-get($map: $fontColor, $key: purple-1);
//   font-weight: 500;
//   transition: color 0.25s ease;
// }

// a:hover {
//   cursor: pointer;
//   color: map-get($map: $fontColor, $key: purple-2);
// }

// .subtitle,
// .subtitle2 {
//   font-family: map-get($map: $font, $key: heading);
//   font-weight: 500;
//   font-size: map-get($map: $fontSize, $key: subtitle);
//   line-height: map-get($map: $lineHeight, $key: subtitle);
// }

// .subtitle {
//   color: map-get($map: $fontColor, $key: purple-1);
// }

// .subtitle2 {
//   color: map-get($map: $fontColor, $key: blue-1);
// }

// .secondaryText {
//   font-size: map-get($map: $fontSize, $key: secondaryText);
//   line-height: map-get($map: $lineHeight, $key: secondaryText);
//   color: map-get($map: $fontColor, $key: "gray");
// }

// // .primaryButton {
// //   font-family: map-get($map: $font, $key: body);
// //   font-size: map-get($map: $fontSize, $key: button);
// //   letter-spacing: 1.25px;
// //   //font-weight: 700;
// //   border-radius: 20px;
// //   border: none;
// //   background-color: map-get($map: $themeColor, $key: tertiary);
// //   color: map-get($map: $fontColor, $key: "light");
// //   padding: map-get($map: $spacing, $key: medium);
// //   transition: all 0.15s ease;
// // }

// // .primaryButton:hover {
// //   background-color: map-get($map: $themeColor, $key: secondary);
// //   cursor: pointer;
// // }

// // .secondaryButton {
// //   font-family: map-get($map: $font, $key: body);
// //   font-size: map-get($map: $fontSize, $key: button);
// //   letter-spacing: 1.25px;
// //   //font-weight: 700;
// //   border-radius: 20px;
// //   border: none;
// //   background-color: transparent;
// //   padding: map-get($map: $spacing, $key: medium);
// //   transition: all 0.15s ease;

// //   &:hover {
// //     opacity: 0.75;
// //     cursor: pointer;
// //   }
// // }

// .withIcon {
//   @include flexCenter;

//   i {
//     padding-left: 10px;
//     transition: transform 0.25s ease;
//   }

//   &:hover {
//     i {
//       transform: translate(5px);
//     }
//   }
// }

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
